.customInput{
  background-color: var(--background-paper);
  border: 1px solid var(--text-secondary);
    color: var(--text-primary);
}

.customInput:focus {
  outline: none;
  border: 2px solid var(--primary-main); /* 원하는 색 */
}

.memo-input{
  width: 100%;
  resize: vertical;
  padding: 8px;
  border: 1px solid var(--text-secondary);
  background-color: var(--background-paper);
  color: var(--text-primary);
  border-radius: 6px;
}