/* src/pages/RegisterPage.module.css */

.tabContainer {
  display: flex;
  margin-bottom: 24px;
}

.tabButton {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--text-secondary) !important;
  background-color: var(--background-default) !important;
  transition: 0.2s;
}

.activeTab {
  /* #34699A, #113F67, #58A0C8, #007aff */
  background-color: var(--primary-main) !important;
  color: white;
  font-weight: bold;
}

.formContainer {
  margin-top: 16px;
}
