/* HistoryCalendar.css */

/* 전체 달력 컨테이너 */
.react-datepicker {
    background-color: var(--background-paper) !important;
    color: var(--text-primary) !important;
    width: 100% !important;
    max-width: 400px;
    height: 400px;
    font-size: 16px;
    border: none;
    box-shadow: none;
}

.react-datepicker,
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker-time__header {
  color: var(--text-primary) !important;
}

.react-datepicker__month-container{
    width: 100% !important;
        max-width: 400px;
    height: 400px;
    float: center;
}

.react-datepicker__day-names{
    display: flex;
    justify-content: space-around;
}

.react-datepicker__navigation{/*이동버튼*/
    top: 5%!important; 
}

/* 달력 헤더 */
.react-datepicker__header {
    padding: 0.8rem 0;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
        margin: 10px;
}

/* 월-연도 텍스트 */
.react-datepicker__current-month {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 3% !important;
}

.react-datepicker__week{
    display: flex;
    justify-content: space-around;
    margin: 3% 0
}

.react-datepicker__day--highlighted-custom {
    position: relative;
    background-color: transparent !important; /* 배경 제거 */
    color: inherit !important; /* 텍스트 색 유지 */
}

.react-datepicker__day--highlighted-custom::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--error-main);
    border-radius: 50%;
}

.react-datepicker__day--highlighted-custom.react-datepicker__day--selected {
    background-color: var(--primary-main) !important; 
    color: white !important;
}