/* HistoryCalendar.css */

.react-datepicker {
    width: 100% !important;     /* 원하는 너비 설정 */
    max-width: 400px;
    font-size: 14px;            /* 폰트 크기 조절 */
}

/* 내부 날짜 셀의 크기 조정 */
.react-datepicker__day {
    width: 2.2rem;
    line-height: 2.2rem;
    margin: 0.15rem;
}

/* 헤더 크기 조정 */
.react-datepicker__header {
    padding-top: 0.5rem;
}

/* 월/연도 선택창 크기 조정 */
.react-datepicker__current-month,
.react-datepicker__day-name {
    font-size: 0.9rem;
}
