/* HistoryCalendar.css */

/* 전체 달력 컨테이너 */
.react-datepicker {
    width: 100% !important;
    max-width: 400px;
    font-size: 16px;
    border: none;
    box-shadow: none;
}

.react-datepicker__month-container{
    width: 100% !important;
    float: center;
}

.react-datepicker__day-names{
    display: flex;
    justify-content: space-around;
}

.react-datepicker__week{
    display: flex;
    justify-content: space-around;
}

/* 달력 헤더 */
.react-datepicker__header {
    padding: 0.8rem 0;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
        margin: 10px;
}

/* 월-연도 텍스트 */
.react-datepicker__current-month {
    font-size: 1.2rem;
    font-weight: bold;
}
